---

name: "{{ distil_collector_temp_compose_project_name }}"

services:
  {{ distil_collector_temp_container_name | default(('distil-exporter-' + distil_collector_temp_name) if distil_collector_temp_name else 'distil_collector', True) }}:
{% if distil_collector_temp_container_name %}
    container_name: {{ distil_collector_temp_container_name }}
{% endif %}
    image: {{ distil_container_image_uri }}:{{ distil_container_image_tag }}
    restart: always
    network_mode: host
    user: "{{ distil_user_uid }}:{{ distil_user_gid }}"
    volumes:
      - type: bind
        source: {{ distil_collector_temp_base_dir }}/distil.conf
        target: /etc/distil/distil.conf
        read_only: true
      - type: bind
        source: /docker/volumes/distil/etc/meter_mappings.yml
        target: /etc/distil/meter_mappings.yml
        read_only: true
      - type: bind
        source: /docker/volumes/distil/etc/transformer.yml
        target: /etc/distil/transformer.yml
        read_only: true
      - type: bind
        source: /docker/volumes/distil/lib
        target: /var/lib/distil
        read_only: false
      - type: bind
        source: /var/log/distil
        target: /var/log/distil
        read_only: false
      - type: bind
        source: {{ distil_ssl_cacert }}
        target: {{ distil_ssl_cacert }}
        read_only: true
    environment:
      - REQUESTS_CA_BUNDLE={{ distil_ssl_cacert }}
    entrypoint:
      - distil-collector
    command:
      - --config-file
      - /etc/distil/distil.conf
