---

services:
  {{ distil_exporter_container_name | default('distil-exporter', True) }}:
{% if distil_exporter_container_name %}
    container_name: {{ distil_exporter_container_name }}
{% endif %}
    image: {{ distil_container_image_uri }}:{{ distil_container_image_tag }}
    restart: always
    network_mode: host
    user: "{{ distil_user_uid }}:{{ distil_user_gid }}"
    volumes:
      - type: bind
        source: {{ distil_config_dir }}
        target: /etc/distil
        read_only: true
      - type: bind
        source: {{ distil_lib_dir }}
        target: /var/lib/distil
        read_only: false
      - type: bind
        source: {{ distil_log_dir }}
        target: /var/log/distil
        read_only: false
      - type: bind
        source: {{ distil_ssl_cacert }}
        target: {{ distil_ssl_cacert }}
        read_only: true
      - type: bind
        source: {{ distil_exporter_base_dir }}/distil-exporter.wsgi
        target: /opt/distil/distil-exporter.wsgi
        read_only: true
    environment:
      - REQUESTS_CA_BUNDLE={{ distil_ssl_cacert }}
      - UWSGI_WSGI_ENV_BEHAVIOR=holy
      - UWSGI_HTTP={{ distil_exporter_address }}:{{ distil_exporter_port }}
      - UWSGI_HTTP_AUTO_CHUNKED=1
      - UWSGI_HTTP_KEEPALIVE=1
      - UWSGI_WORKERS=2
      - UWSGI_THREADS=1
      - UWSGI_LOGTO={{ distil_log_dir }}/distil-exporter-wsgi.log
      - UWSGI_LOGFILE_CHMOD={{ distil_log_file_mode }}
      - UWSGI_DIE_ON_TERM=true
      - UWSGI_SHOW_CONFIG=true
      - UWSGI_MASTER=true
      - UWSGI_MAX_REQUESTS=1000
      - UWSGI_HARAKIRI=10
    entrypoint:
      - uwsgi
    command:
      - --wsgi-file=/opt/distil/distil-exporter.wsgi
